@import '../_variables';

.media-content {
    margin: 0 auto;
    max-width: 640px;
    overflow: hidden;
    width: 80%;
}

audio, video {
    width: 100%;
    height: 100%;
}

.mejs-overlay-error {
    color: #fff;
}

.mejs-container.mep-playlist {
    min-height: 160px;
}

.mejs-container .mejs-playlist ul li span {
    height: 100% !important;
    line-height: 32px;
}

.mejs-playlist.mejs-layer {
    background-color: rgba(0,0,0,0.5);
}

.stylus-widget-audio p:last-child {
    margin-bottom: 0;
}

.stylus-widget-video p:last-child {
    margin-bottom: 0;
}
