<div id="about-menu" class="reveal-modal stylus-modal" data-reveal aria-labelledby="about-menu-title" aria-hidden="true" role="dialog">

  <h2 id="about-menu-title"><span class="fa fa-info-circle"></span> About Stylus </h2>

  <div class="row">

    <div class="columns large-12">

      <p><strong> Version: <%= window.Stylus.version %> </strong></p>
      <p><strong>Stylus</strong> enables anyone to quickly and easily create engaging, self-contained modules of online content with enhanced interactivity, usability and accessibility features. </p>
      <hr>
      <p>
        <a target="_blank" href="http://stylus.pauleds.com/?utm_source=stylus-bar&amp;utm_medium=referral&amp;utm_campaign=stylus-home">
          Stylus <span class="fa fa-external-link"></span>
        </a> created by
        <a target="_blank" href="http://pauleds.com/?utm_source=stylus-bar&amp;utm_medium=referral&amp;utm_campaign=about-stylus">
          Paul Edwards <span class="fa fa-external-link"></span>
        </a> . </p>
      <hr>

      <p>
        <small>
          <strong>Please note:</strong>  Stylus is built using web standards to run on Windows, Mac, Linux, iOS, Android and any other device with a modern web browser.
          Should you encounter any problems with Stylus then please ensure you have the latest web browser software installed on your device.
        </small></p>
      <hr>
      <p>
        <small>
          Stylus uses cookies to store your user preferences and to collect anonymous usage data in order to understand and improve the Stylus user experience.
        </small></p>
    </div>

  </div>

  <a aria-label="Close" class="close-reveal-modal">
    ×
  </a>

</div>