<div id="app-stylus">

  <header id="app-header"></header>

  <section id="app-main">

    <div id="document-pages"></div>

  </section>

  <footer id="app-footer">

    <div id="app-options-menu"></div>
    
    <div id="app-about-menu"></div>
    
    <div id="app-info-menu"></div>

  </footer>

</div>

