<div class="navigation contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <!-- accessibility -->
    <span class="hidden">
      <a class="skip-link" href="#app-main" title="Skip to content">
        Skip to content
      </a> </span>
    <!-- /accessibility -->
    <!-- nav left -->
    <ul class="title-area">
      <!-- app-title -->
      <li id="navitem-info" class="name"><h1><a data-reveal-id="info-menu"><i style="margin-right:5px;" class="fa fa-info-circle"></i>
          <span class="info">Loading...</span></a></h1></li>
      <!-- /app-title -->
      <li class="toggle-topbar">
        <a>
          <span class="icon-menu"> </span>
        </a></li>
    </ul>
    <!-- /nav left -->
    <section class="top-bar-section">
      <!-- nav right -->
      <ul class="right">
        <!-- contents menu / small-only -->
        <li id="navitem-contents-small">
          <ul id="navitem-contents-small-menu">
            <li id="navitem-contents-small-menu-inner">
              <ul id="navitem-contents-small-menu-items">
                <li>
                  <a>
                    Loading...
                  </a></li>
              </ul></li>
          </ul></li>
        <!-- options menu / medium-up -->
        <li id="navitem-options">
          <a data-reveal-id="options-menu">
            <span class="icon"></span> Options
          </a></li>
        <!-- contents menu / medium-up -->
        <li id="navitem-contents" class="has-dropdown"><a><span class="icon"></span> Contents</a>
          <ul id="navitem-contents-menu" class="dropdown">
            <li id="navitem-contents-menu-inner">
              <ul id="navitem-contents-menu-items">
                <li>
                  <a>
                    Loading...
                  </a></li>
              </ul></li>
          </ul></li>
        <!-- previous button / medium-up -->
        <li id="navitem-previous"><a><span class="icon"></span> Previous</a></li>
        <!-- next button / medium-up -->
        <li id="navitem-next"><a><span class="icon"></span> Next</a></li>
      </ul>
      <!-- /nav right -->
    </section>
    <!-- /top-bar-section -->
  </nav>
</div>
