<div id="pagenav-other" class="pagenav a-left">
  <span id="pagitem-align">
    <a>
      <span class="icon-link"> <span class="icon-base"></span> <span class="icon"></span> </span>
    </a> </span>
  <span id="pagitem-options">
    <a data-reveal-id="options-menu">
      <span class="icon-link"> <span class="icon-base"></span> <span class="icon"></span> </span>
    </a> </span>
</div>
