<div id="pagenav-pagination" class="pagenav a-right">
  <span id="pagitem-previous">
    <a>
      <span class="icon-link"> <span class="icon-base"></span> <span class="icon"></span> </span>
    </a> </span>
  <span id="pagitem-next">
    <a>
      <span class="icon-link"> <span class="icon-base"></span> <span class="icon"></span> </span>
    </a> </span>
</div>
