<div id="<%= page.getId() %>" class="page">
  <div class="inner">
    <div class="header">
      <h2> <%= page.getTitle() %> </h2>
    </div>
    <div class="content">
      <%= page.getContent() %>
    </div>
    <div class="footer">
      <span class="page-number"><%= page.getNumber() %></span>
    </div>
  </div>
</div>