.contrast-black-on-blue {
    @extend .contrast-black-on-white;
    background-color: #ddddff !important;

    button, .button {
        background: #ddddff;
    }

    .accordion .accordion-navigation > a, .accordion dd > a, .tabs .tab-title > a, .tabs dd > a {
        background: #ddddff !important;
    }

    .accordion .accordion-navigation > .content, .accordion dd > .content, .tabs-content > .content, .reveal-modal, .panel-body {
        background-color: #ddddff !important;
    }
}

#text-contrast span {
    border: 1px solid #000000;
    color: #000000;
    padding: 4px 6px;
}
